body {
    background-color: skyblue;
}

/* Estilos personalizados */
.sidebar {
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.main-content {
    padding: 20px;
}

.table-actions {
    white-space: nowrap;
}