<form method="post" action="{{ path('app_inscripcion_delete', {'id': inscripcion.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ inscripcion.id) }}">
    <button class="btn">Delete</button>
</form>
