{% extends 'base.html.twig' %}

{% block title %}New Inscripcion{% endblock %}

{% block body %}
    <h1>Create new Inscripcion</h1>

    {{ include('inscripcion/_form.html.twig') }}

    <a href="{{ path('app_inscripcion_index') }}">back to list</a>
{% endblock %}
